.Description{
    background: #fff;
    padding: 2rem;
    width: 100%;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 2rem;
   .title{
    font-size: 1.17rem;
    font-weight: 700;
   

   }
   .text{
    font-size: 1rem;
    font-weight: 400;


   }

}