.Number {
    background-color: #5159c9;
    padding: 0.1rem;
    border-radius: 3px;

    width: min(100%, 2rem);
    align-items: center;

    &.valor-0 {
        color: #e40e0e;
    }

    &.valor-1 {
        color: #e40e0e;
    }

    &.valor-2 {
        color: #e40e0e;
    }

    &.valor-3 {
        color: #e40e0e;

    }

    &.valor-4 {

        color: #e40e0e;
    }

    &.valor-5 {
        color: orange
    }

    &.valor-6 {
        color: orange
    }

    &.valor-7 {
        color: orange
    }

    &.valor-8 {
        color: rgb(14, 228, 14)
    }

    &.valor-9 {
        color: rgb(14, 228, 14)
    }

    &.valor-10 {

        color: rgb(14, 228, 14)
    }




}